@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Montserrat:wght@100&family=Open+Sans:wght@800&family=Work+Sans:ital,wght@1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}
/* Header Start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px ;
    margin-bottom: 85px;
}
/* Haader-Nav-Start */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 116px;

}
 nav h2{
    color:  #131313;
    font-weight: 700;
    font-size: 2.8rem;
    

}
nav ul{
    display: flex;
}
ul li{
    list-style: none;
    margin-right: 30px;
    color:  #424242;
    font-weight: 500;
    font-size: 1rem;

}
nav li a{
    text-decoration: none;
}
/*  Header-Nav-End */

.top-banner-info{
    margin: 0px auto;
    text-align: center;
}
.top-banner-title{
    color:  #131313;
    font-weight: 700;
    font-size: 4rem;
}
.t-b-d{
    color:  #727272;
    font-size: 1rem;
    padding-top: 10px;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
    margin-top:32px;
    cursor: pointer;
    border: 0px;
}
 .banner>img{
    margin-top: 50px;
    width: 100%;
    
}
/* Header End */

 /* Main Start  */

 /* 1st Section Start */
main{
    max-width: 1440px;
    margin: 0px auto;
}
.team-sec{
    display: flex;
    align-items: center;
    
}
.teams-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-right: 75px;
}

.t-1{
    color:  #727272;
font-size: 2.3rem;
font-weight: 500;
    
}
.t-2{
    color:  #131313;
    font-size: 2.3rem;
    font-weight: 700;  
}
.t-3{
    color: #FF900E;
font-weight: 700;
font-size: 2.3rem;  
}
.team-description{
    color:  #727272;
font-size: 1rem;
padding-top:24px;

}

 /* 1st Section End */

 /* Main End  */


/* Media Query For Mobile */
@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav ul {
        padding-top: 25px;
    }
    .team-sec{
        flex-direction: column-reverse;
    }
    .teams-img{
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        
    }
    .teams-info{
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Media Query For Tablet */

@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 10px;
    }
    nav {
        flex-direction: column;
    }
    nav ul {
        padding-top: 25px;
    }
    .team-sec{
        flex-direction: column-reverse;
    }
    .teams-info{
        text-align: center;
        margin-bottom: 10px;
    }
    .teams-img{
        margin: auto
    }
}



